*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    direction: rtl;
}

/* الجزء اللي فيه الصورة */
.hero{
    min-height: 70vh;
    background:
        linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),
        url("bg.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

.services a{
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* الجزء الأوف وايت */
.bottom{
    background: #f7f7f4;
    color: #333;
    text-align: center;
    padding: 50px 20px;
}
