body {
  font-family: Arial;
  background: #f4f4f4;
  direction: rtl;
}

.box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

input, button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

.layout {
  display: flex;
}

aside {
  width: 200px;
  background: #333;
  color: white;
  padding: 15px;
}

aside button {
  width: 100%;
  margin: 5px 0;
}

main {
  padding: 20px;
  flex: 1;
}

.hidden {
  display: none;
}
