body{
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

.services a{
    display:block;
    margin:10px auto;
    padding:15px;
    width:200px;
    background:#222;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

form{
    width:300px;
    margin:auto;
}

input, textarea, button{
    width:100%;
    padding:10px;
    margin:8px 0;
}
